@import "bootstrap";

html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }

  .footer {
    margin-top: auto;
  }

element {
  print-color-adjust: exact; // color-adjust を置き換え
}