<footer class="footer bg-light py-3 mt-auto">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <nav>
          <ul class="list-inline">
            <li class="list-inline-item"><%= button_to "About", '#', method: :get, class: "btn btn-link" %></li>
            <li class="list-inline-item"><%= button_to "Contact", '#', method: :get, class: "btn btn-link" %></li>
            <li class="list-inline-item"><%= button_to "News", 'https://news.railstutorial.org/', method: :get, class: "btn btn-link" %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>